<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>egio_reassurance</name>
	<displayName><![CDATA[Egio Block Reassurance]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module de réassurance 
Prestashop1.7
Test Développeur]]></description>
	<author><![CDATA[Ayoub M.]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
